
body {
    background-image: url("wall.png");
    background-size: 100px;
    color:black;
    font-family: Comic Sans,Comic Sans MS,cursive;
    font-size: 21px;
    font-weight: bold;
  }
  #logo {
    position: absolute;
    left: 50%;
    transform: translate(-47%, 30%);
    image-rendering: pixelated;
  }
  #foreground {
    width: 650px;
    height: 2000px;
    border: 15px solid rgb(255, 255, 255);
    background-color: white;
    padding: 50px;
    margin: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }
  #header {
    font-size: 13px;
    text-align: center;
    transform: translate(0, 10px);
  }
  p {
    margin: 10px;
    font-size: 19px;
    display: block;
  }
  img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    image-rendering: pixelated;

  }
  div{
    display: block;
  }
  #footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 35px;
    background-color: grey;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #underconstructiongifs{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    border-radius: 7px;
  }
  #contacts{
    font-weight: bold;
  }
  
  hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

#sslsecure{
position: absolute;
left: 80%;
top: 10%;
transform: scale(0.5) rotate(-25deg);
}

#github{
  position: absolute;
  left: 90%;
  top: 13%;
  transform: scale(0.3) rotate(-25deg);
  image-rendering: auto;
  }


#maintext{
  position: absolute;
  text-align:center
}

#secondarytext{
  position: absolute;
  left:60%;
  text-align:center;
  
}

#terciarytext{
  position: absolute;
  text-align:center;
  top: 48%;
}

#textfour{
  position: absolute;
  text-align:center;
  left: 5%;
  top: 55%;
}
